@use "../../../../styles/colors" as *;

.container {
  width: 100%;
  padding: 40px 0px 0px 60px;
  color: #fff;
  z-index: 999;
  width: 100vw;
  bottom: -1%;
  display: grid;
  grid-template-columns: clamp(280px, 42vw, 100%) minmax(0, 1fr);
  min-height: 100dvh;
  overflow: hidden;
  max-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logoSizeControl {
  align-self: flex-start;
  display: flex;
  position: relative;
  max-width: 350px;
  width: 100%;
  height: 136px;
}

.logoSizeControl img {
  object-fit: cover;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 24px;
  max-height: 100vh;
}

.leftMainContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 24px;
  width: 100%;
}


.title {
  font-size: 42px;
  display: flex;
  flex-direction: column;
  line-height: 1.1;

  span {
    color: $white;
  }

}

.titleFirtsPart {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-jakarta), sans-serif;
  color: $white ;
}





.titleSecondPart {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-jakarta), sans-serif;
  background: $gradient-apolo;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titleFirstStyle {
  font-size: 42px;
  font-weight: 400;
}

.titleSecondStyle {
  font-size: 32px;
    font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 498px;
}



.switchPage {
  color: $white;
  font-size: 14px;
  font-weight: 500;
}

.switchPage>a {
  color: $singapore-orchid;
}

.right {
  position: relative;
  bottom: -1px;
  overflow: hidden;
}

.rightImg {
  position: relative;
  width: 30%;
  height: 30%;
}



































@media(max-height:820px) {

  .titleSecondSize {
    font-size: 32px;
  }

  .titleFirstSize {
    font-size: 42px;
  }

  .logoSizeControl {
    max-width: 290px;
    height: 110px;
  }
}