@use "../../../../styles/colors" as *;

/* =======================
   Layout
======================= */
.container {
  width: 100vw;
  padding: 40px 0 0 60px;
  min-height: 100dvh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  color: #fff;
  z-index: 999;
  bottom: -1%;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  padding-bottom: 24px;
  max-height: 100vh;
  max-width: 40vw;
  width: 100%;
}

/* =======================
   Logo
======================= */
.logoSizeControl {
  align-self: flex-start;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 136px;

  img {
    object-fit: cover;
  }
}

/* =======================
   Left content
======================= */
.leftMainContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 24px;
  width: 100%;
}

/* =======================
   Header / Title
======================= */
.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 42px;
  line-height: 1.1;

  span {
    color: $white;
  }
}

.titleFirtsPart {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-jakarta), sans-serif;
  color: $white;
}

.titleSecondPart {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-jakarta), sans-serif;
  background: $gradient-apolo;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ზომების კონტროლი – იყენებ span-ებზე */
.titleFirstStyle {
  font-size: 42px;
  font-weight: 400;
}

.titleSecondStyle {
  font-size: 32px;
  font-weight: 700;
}

/* =======================
   Form
======================= */
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 498px;
}

.switchPage {
  color: $white;
  font-size: 14px;
  font-weight: 500;

  >a {
    color: $singapore-orchid;
  }
}

/* =======================
   Right image
======================= */
.right {
  display: flex;
  justify-content: end;
  width: 100%;
}

.rightImgSizesControl {
  position: relative;
  bottom: -1px;
  overflow: hidden;
  max-height: 1000px;
  height: 100%;
  align-self: flex-end;
  max-width: 1000px;
  width: 100%;
}

/* =======================
   Media Queries
======================= */
@media (max-height: 820px) {
  .left {
    justify-content: space-between;
    gap: 0;
  }

  .titleSecondSize {
    font-size: 32px;
  }

  .titleFirstSize {
    font-size: 42px;
  }

  .logoSizeControl {
    max-width: 290px;
    height: 110px;
  }
}