.threeDotsBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.threeDotsBtn img {
    display: block;
    width: 25px;
    height: 25px;
    object-fit: contain;
}