.threeDotsBtn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.threeDotsBtn img {
    display: block;
    width: 25px;
    height: 25px;
    object-fit: contain;
    background-color: inherit; //background-color: white;
    border-radius: 50%;
    padding: 2px;
}