@use "./../../styles/colors" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $reversed-grey;
  font-family: var(--font-jakarta), sans-serif;
}

/* 3) Base layout */
main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  background: $reversed-grey;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  right: -280px;
  width: 100%;
  max-width: calc(100vw - 280px - var(--scrollbar-width, 0px)); // 280px width of sidebar
  // only weakness is horizontal scroll after refreshing and disappears in seconds
  padding-bottom: 160px;
}

/* globals.scss (გლობალში) */

/* WebKit: Chrome/Edge/Safari */
*::-webkit-scrollbar { width: 8px; height: 8px; }
*::-webkit-scrollbar-track { background: $cod-grey; border-radius: 999px; }
*::-webkit-scrollbar-thumb {
  background: $gradient-apolo;   /* გრადიენტი აქ იმუშავებს */
  border-radius: 999px;
  background-clip: content-box;
  border: 2px solid transparent; /* ზედა/ქვედა ჰაერი */
}

// /* Firefox – გრადიენტი არ აქვს ნატივზე */
* { scrollbar-width: thin; scrollbar-color: $fuchsia-flame $cod-grey; }
