@use "../../styles/colors" as *;





.main {
  display: flex;
}




.allSemanticTag {
  display: flex;
  width: 100%;
}


.container {
  display:flex;
  flex-direction: column;
  gap:40px;
  position: relative;
  right:-280px;
  width:100%;
  max-width: calc(100vw - 280px - var(--scrollbar-width,0px)); // 280px width of sidebar
  // only weakness is horizontal scroll after refreshing and disappears in seconds

  
}