@use "../../styles/colors" as *;





.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

// Top Hit
.topHitsSection {
  @include ordinarySection();
}

.topHitsSectionCardsBox {
  @include ordinarySectionCardsBox()
}

.topHitsSectionTextBox {
  @include ordinarySectionTextBox();

  & span {
    @include ordinarySectionTextBoxSpan()
  }

  & h2 {
    @include ordinarySectionH2()
  }
}

.topHitsSectionCardsBox>* {
  flex: 1 0 220px;
}


// Artists

.artistSection {
  @include ordinarySection();

}

.artistSectionCardsBox {
  @include ordinarySectionCardsBox()
}

.artistSectionCardsBox>* {
  flex: 1 0 220px;
}

.artistSectionTextBox {
  @include ordinarySectionTextBox();

  & span {
    @include ordinarySectionTextBoxSpan()
  }

  & h2 {
    @include ordinarySectionH2()
  }

}




.allSemanticTag {
  display: flex;
  width: 100%;
}


.container {
  display:flex;
  flex-direction: column;
  gap:40px;
  position: relative;
  right:-280px;
  width:100%;
  max-width: calc(100vw - 280px - var(--scrollbar-width,0px)); // 280px width of sidebar
  // only weakness is horizontal scroll after refreshing and disappears in seconds
  //padding: 40px 40px 0px 24px;
}