@import '../../../styles/colors';

.card {
  background-image: url('./NewsComponentPhoto.png');
  width: 1112px;
  height: 393px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding: 32px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.title {
  color: #FFF;
  font-family: "SF Pro Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  margin-bottom: 16px;
}

.plays{
  color: #BCBCBE;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.content {
  color: white;
  max-width: 70%;
  margin-bottom: 108px;
}