@use "../../../styles/colors" as *;

/* ───────────────────────── INPUT ───────────────────────── */
.search {
  font-family: var(--font-jakarta), sans-serif;
  color: $white;
  background-color: transparent;
  border: 0;
  width: 100%;
  outline: 0;
  padding: 16px 0 16px 48px; // default (ადგილი აიკონისთვის)
  transition: padding .18s ease; // რომ რბილად შეიცვალოს
  color: $stone-cold ;
}

/* ───────────────────────── WRAPPER ─────────────────────── */
.wrapper {
  position: relative;
  border-radius: 8px;
  border: 1px solid $hawks-eye;
  background: transparent;
  width: 100%;
  max-width: 548px;
  height: 56px;
  display: flex;
  align-items: center;
  &:hover {
    border-color: $hawks-eye;
    background: $dark-void;
  }

  &:focus-within {
    border-color: transparent;
    background: $dark-void;
  }
}

/* ── Gradient ring: focus-ზე და როცა ტექსტია (placeholder აღარ ჩანს) ── */
.wrapper:focus-within::before {
  content: "";
  position: absolute;
  inset: -2px;
  padding: 1.7px;
  border-radius: inherit;
  background: $gradient-apolo;
  /* მხოლოდ ზოლი, სუფთა კუთხეებით */
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
}

/* ── Focus ან ტექსტით სავსე მდგომარეობაში UI ჩასწორებები ── */
.wrapper:focus-within,
.wrapper:has(input:not(:placeholder-shown)) {
  >.search {
    padding: 16px 0 16px 24px;
  }

  >img {
    display: none;
  }
}

/* ───────────────────────── ICON ────────────────────────── */
.icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
}

