.PenButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  background-color: white;
  border-radius: 50%;
}

.PenButton img {
  display: block;
  width: 24px;
  height: 24px;
}
