@use "../../../styles/colors" as *;




.sidebar {
   position: fixed;
   /* tu ekrani pataraa vidre 872px scroll ar eqneba amis gamo problema gvardeba roca mainshi contentis height gaxdeba 872px ze meti || tu arada chatgpt axsnis */
   display: flex;
   flex-direction: column;
   gap: 56px;
   width: 100%;
   max-width: 280px;
   top: 0;
   left: 0;
   padding: 40px 20px;
   height: 100vh;
   z-index: 1000;
}

.frisson {
   display: flex;
   align-self: center;
}

.menu {
   width: 100%;
   max-width: 240px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 32px;
}

.mainMenu,
.collectionMenu .discoverMenunn {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.mainMenu div,
.collectionMenu div,
.discoverMenu div {
   padding: 12px 0 12px 16px;
   justify-content: flex-start;
   align-items: center;
   font-family: 'Plus Jakarta Sans';
   color: $mission-control;
   display: flex;
   gap: 8px;

   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}

.mainMenu div:first-of-type {
   border-radius: 8px;
   color: $white;
   background: $dynamic-black;
}

.collectionMenu h4,
.discoverMenu h4 {
   text-transform: uppercase;
   font-family: 'Plus Jakarta Sans';
   color: $white;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   padding: 0 0 16px 16px;
}