@use "../../../../styles/colors" as *;

.main {
  gap: 24px;
  margin-top: -40px;
}

.h1 {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &>h1 {
    color: $white;
    font-family: var(--font-jakarta), sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addPlayListControl {
  max-width: 162px;
  width: 100%;
}



/* ეკრანის მთელ ზემოდან ანაბარი */
.modalBackdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  align-items: center;
  /* ყველაფერზე ზემოთ */
}

/* ბარათის კონტეინერი */
.modalCenter {
  width: 100%;
  display: flex;
  justify-content: center;
}
