@use "../../../../styles/colors" as *;

.main {
  gap: 24px;
  margin-top: -40px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &>h1 {
    color: $white;
    font-family: var(--font-jakarta), sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addPlayListControl {
  display: flex;
  align-items: center;
  max-width: 162px;
  font-size:16px;
  width: 100%;
  height: 44px;
}

// grid

.albumCard {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;

  @media (min-width: 1400px) and (max-width: 1620px) {
    grid-template-columns: repeat(4, 1fr);

    &>div {
      max-width: 270px; // ~79% of 266
      max-height: 290px; // ~80% of 288
    }
  }

  @media (max-width: 1399px) {
    grid-template-columns: repeat(3, 1fr);

    &>div {
      max-width: 340px; // ~68% of 266
      max-height: 360px; // ~70% of 288
    }
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);

    &>div {
      max-width: 340px; // ~56% of 266
      max-height: 360px; // ~59% of 288
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;

    &>div {
      max-width: 300px; // ~45% of 266
      max-height: 320px; // ~49% of 288
      justify-self: center;
    }
  }
}

/* ეკრანის მთელ ზემოდან ანაბარი */
.modalBackdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  align-items: center;
  /* ყველაფერზე ზემოთ */
}

/* ბარათის კონტეინერი */
.modalCenter {
  width: 100%;
  display: flex;
  justify-content: center;
}