@use "../../styles/colors" as *;

// table

.table {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: calc(100vw - 280px - var(--scrollbar-width, 0px));
  width: 100%;
  text-align: left;
  font-family: var(--font-jakarta), sans-serif;
}

// list

.list th,
.list td {
  white-space: nowrap; // keeps content in one line
  min-width: 0; // allows shrinking
}

.list {
  border-collapse: collapse; // or seperate idk

  &:th {
    font-weight: 400;
  }

  &:td {
    font-weight: 500;
  }
}

// thead

.thead {
  color: $mission-control;
  font-family: var(--font-jakarta), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid $lead;

  th {
    padding-bottom: 15px;
  }
}

.songNameBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.songNameText {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
}

.songArtistText {
  color: #9E9A9F;
  font-size: 14px;
  font-weight: 500;
}


// thead children

.hash {
  text-align: center;
  padding: 15px 0;
  width: 5%; //width: 56px;
}

.songTitle {
  padding-left: 10px;
  width: 35%; //width: 360px;
}

.albumTitle {
  width: 25%; // width: 308px;
}

.timeTitle {
  width: 20%; // width: 390px;
}

// tbody

.tbody {
  color: $shady-lady;
  font-family: var(--font-jakarta), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

// tbody children

.tbody tr {
  border-radius: 4px 0 0 4px;
  border-left: 4px solid transparent;

  &:hover {
    background-color: $dynamic-black;
    border-image: $gradient-apolo 1;
    border-image-slice: 1;
    transition: 0.3s ease;
  }
}

.tbody td:first-child {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    border-radius: 4px 0 0 4px;
    background: $gradient-apolo; // set gradient initially
    opacity: 0; // hidden by default
    transition: opacity 0.3s ease; // fade-in transition
  }
}

.tbody tr:hover td:first-child::before {
  opacity: 1; // show gradient on hover
}

.songId {
  text-align: center;
}

.songName {
  @extend .titleStyles;
  align-items: center;
  display: flex;
  gap: 10px;
  color: $white;
}

.imageWrapper {
  padding: 10px;

  &>img {
    width: 100%;
    max-width: 48px;
    height: 48px;
    border-radius: 4px;
  }
}

// default copy-paste style

.titleStyles {
  font-family: var(--font-jakarta), sans-serif;
  font-style: normal;
  line-height: 100%;
  text-transform: capitalize;
}
