@use "../colors" as *;

// instructions:

// mianiwet albumcard mshobel divs da tavad gadaawyobs yvela shvilobil komponents
// tavisi responsiulobis mixedvit yvela rezoluciaze

.Grid {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;

  @media (min-width: 1400px) and (max-width: 1620px) {
    grid-template-columns: repeat(4, 1fr);

    &>div {
      max-width: 270px; // ~79% of 266
      max-height: 290px; // ~80% of 288
    }
  }

  @media (max-width: 1399px) {
    grid-template-columns: repeat(3, 1fr);

    &>div {
      max-width: 340px; // ~68% of 266
      max-height: 360px; // ~70% of 288
    }
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);

    &>div {
      max-width: 340px; // ~56% of 266
      max-height: 360px; // ~59% of 288
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;

    &>div {
      max-width: 300px; // ~45% of 266
      max-height: 320px; // ~49% of 288
      justify-self: center;
    }
  }
}

.scrollbar {
  display: flex;
  gap: 16px;
  overflow-x: auto;

  &>div {
    flex: 0 0 auto;
    margin-bottom: 16px;
  }

  *::-webkit-scrollbar-thumb {
    width:8px;
  }

}
