@use "../../../../styles/colors" as *;

/* =======================
   Layout
======================= */
.container {
  width: 100%;
  width: 100vw;
  padding: 40px 0px 0px 60px;
  display: grid;
  grid-template-columns: clamp(280px, 42vw, 100%) minmax(0, 1fr);
  min-height: 100dvh;
  max-height: 100vh;
  overflow: hidden;

  color: #fff;
  font-family: var(--font-jakarta), sans-serif;
  z-index: 999;
  bottom: -1%;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  padding-bottom: 24px;
  max-height: 100vh;
}

.right {
  position: relative;
  bottom: -1px;
  overflow: hidden;
}

/* =======================
   Logo
======================= */
.logo {
  font-size: 32px;
  font-weight: 700;
}

.logoSizeControl {
  align-self: flex-start;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 136px;
  object-fit: cover;

  img {
    object-fit: cover;
  }
}

/* =======================
   Left content
======================= */
.leftMainContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 24px;
  width: 100%;
}

/* =======================
   Header / Title / Subtitle
======================= */
.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.1;

  span {
    color: #fff;
  }
}

.titleFirtsPart {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-jakarta), sans-serif;
  color: $white;
}

.titleSecondPart {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-jakarta), sans-serif;
  background: $gradient-apolo;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titleSecondSize {
  font-size: 62px;
  font-weight: 700;
}

.titleFirstSize {
  font-size: 72px;
  font-weight: 400;
}

.subtitle {
  font-size: 16px;
  color: #ccc;
}

/* =======================
   Form
======================= */
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 498px;
}

.switchPage {
  color: $white;
  font-size: 14px;
  font-weight: 500;

  > a {
    color: #ac13ec;
  }
}

/* =======================
   Checkbox & Forgot
======================= */
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
  font-size: 12px; // Figma-ს მიხედვით შეცვალე
}

.remember {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;

  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #b020f0; // ბრენდის ფერი
  }
}

.forgot {
  opacity: 0.8;
  text-decoration: none;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

/* =======================
   Right image
======================= */
.right {
  display: flex;
  justify-content: end;
  width: 100%;
}

.rightImgSizesControl {
  position: relative;
  bottom: -1px;
  overflow: hidden;
  max-height: 1000px;
  height: 100%;
  align-self: flex-end;
  max-width: 1000px;
  width: 100%;
}

/* =======================
   Media Queries
======================= */
@media (max-height: 820px) {
  .titleSecondSize {
    font-size: 42px;
  }

  .titleFirstSize {
    font-size: 52px;
  }

  .logoSizeControl {
    max-width: 290px;
    height: 110px;
  }
}
