@use "../../../styles/colors" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 24px 0 24px;
}


.searchbar {
  width: 100%;
  max-width: 548px;
  height: 56px;
}






