.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 24px 0 24px;
  gap: 16px;
}

.searchbar {
  // 548px
  display: flex;
  height: 56px;
  max-width: 548px;
  width: 100%;
  align-items: center; // makes single arrow vertically centered
}

.arrow {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.searchArrow {
  display: flex;
  align-items: center; // vertically center arrow + searchbar
  gap: 16px;
  flex: 1;
  min-width: 0; // ensures Searchbar can shrink correctly
}
