@use "../../../styles/colors" as *;

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 24px;
}

.artistPage {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & h4 {
    color: $white;
    font-family: var(--font-jakarta), sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 20px */
  }
}

.artistCard {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;

  & > div {
    max-width: 266px;
    width: 100%;
    height: 288px;
    border-radius: 8px;
  }

  @media (min-width: 1400px) and (max-width: 1620px) {
    grid-template-columns: repeat(4, 1fr);

    & > div {
      max-width: 270px; // ~79% of 266
      max-height: 290px; // ~80% of 288
    }
  }

  @media (max-width: 1399px) {
    grid-template-columns: repeat(3, 1fr);

    & > div {
      max-width: 340px; // ~68% of 266
      max-height: 360px; // ~70% of 288
    }
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);

    & > div {
      max-width: 340px; // ~56% of 266
      max-height: 360px; // ~59% of 288
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    & > div {
      max-width: 300px; // ~45% of 266
      max-height: 320px; // ~49% of 288
      justify-self: center;
    }
  }
}
