// gradients:
$gradient-apolo: linear-gradient(90deg, #F903D0 0%, #9A16F2 100%); // horizontal pink - purple


// pink - purple

$bonbon: #FFE6FB;               // white
$placebo-fuchsia: #F5E7FE;      // white

$hermosa-pink: #FEB3F2;         // light pink
$lavender-fragnance: #E0B7FB;   // light pink

$splash-of-grenadine: #fd81e9;  // pink
$grass-pink-orchid: #cb86f8;    // pink

$purple-pizzazz: #fd4fe0;       // pink
$shotoku-purple: #b656f6;       // purple

$fuchsia-flame: #F903D0;        // pink
$singapore-orchid: #9A16F2;     // purple

$passionate-pink: #e303bd;      // pink
$indiviolet-sunset: #6909a9;    // purple

$jealous-jellyfish: #B00293;    // pink
$invasive-indigo: #4b0779;      // purple

$pion-purple: #4C013F;          // dark purple
$cotinga-purple: #39055C;       // dark purple

$globe-thistle: #32012A;        // dark purple
$edge-of-space: #2d0448;        // dark purple


// Monochromes:

$dynamic-black: #1D1D1D;        // black

$lead: #202020;                 // black

$cod-grey: #2E3133;             // dark grey

$hawks-eye: #35353B;            // dark grey

$stone-cold: #565657;           // grey

$mission-control: #818385;      // light grey

$shady-lady: #9E9A9F;           // light grey

$palladium: #B1B1B1;            // light grey

$glacier-grey: #BCBCBE;         // white

$log-reg-text:#C5B0C9; // ახალი ფერი ლოგინ და რეგისტრაციისათვის
// State:

$success: #27AE60;              // green
$error: #EB5757;                // red
$info: #2F80ED;                 // blue
$warning: #E2B93B;              // yellow


// Black:

$dark-void: #151519;            // black
$reversed-grey: #080808;        // black
$black-metal: #050506;          // black
$background: #000000;           // black


// white 

$white: #fff;                   // white
$black: #000;                   // black